body {
    margin: 0;
    padding: 0;
    background-image: url("img/bg2.jpg");
    background-size: 100%;
}

/* KONTAIN */
.none{
  display: none;
}

.kotak{
  color: white;
  margin-left: 200px;
  padding: 1px 16px;
}

.jabatan{
  color: rgb(248, 82, 110);
  background-color: black;
  width: 350px;
  border-radius: 20px;
}

.kucing{
  height: 400px;
  background-image: url(img/kucing.png);
  background-size: cover;
  background-position: 0 -50px;
  margin: 0;
  padding: 0;
  width: 50%;
}

/* SIDEBAR */
/* The side navigation menu */
.sidebar {
  margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: black;
  }
  
  /* Active/current link */
  .active {
    color: rgb(248, 82, 110) !important;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    color: rgb(248, 82, 110);
    text-decoration: underline;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
